<h2>{{ title }}</h2>
<button (click)="showCreateForm()">Create</button>
@if(names.length > 0) {
<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>OPS</th>
  </tr>
  @for (name of names; track name.id) {
  <tr>
    <td>{{name.id}}</td>
    <td>{{name.name}}</td>
    <td>
      <button (click)="showUpdateForm(name)">update</button>
      <button (click)="delete(name.id)">delete</button>
    </td>
  </tr>
  }
</table>
} @else {
<p>Sorry :/, we don't have any names yet.</p>
}
@if(updating) {
<app-update-name [name]="updatingName" (updateButton)="update($event)" (cancelButton)="cancelUpdate()" />
}
@if(creating) {
<app-greeting (createButton)="create($event)" (cancelButton)="cancelCreate()" />
}
