<div class="container-fluid">

  <div class="row bg-secondary justify-content-md-center">
    <div class="d-flex flex-column col-md-10 col-lg-8">
      <app-navbar />
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="d-flex flex-column col-md-10 col-lg-8">
      <div class="container-fluid py-3">
        <router-outlet />
      </div>
    </div>
  </div>

  <div class="row fixed-bottom p-3 bg-secondary" >
    <footer class="text-center">
      &copy; 2024 Copyright: Helloworld App v0.1
    </footer>
  </div>

</div>
