<h2>{{ title }}</h2>
<button (click)="showCreateForm()">Create</button>
@if(nameList.length > 0) {
<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>OPS</th>
  </tr>
  @for (name of nameList; track name.id) {
  <tr>
    <td>{{name.id}}</td>
    <td>{{name.name}}</td>
    <td>
      <button (click)="showUpdateForm(name)">update</button>
      <button (click)="deleteName(name.id)">delete</button>
    </td>
  </tr>
  }
</table>
} @else {
<p>Sorry :/, we don't have any names yet.</p>
}
@if(updateNameFormEnabled) {
<app-update-name [name]="updatingName.name" (updateButton)="updateName($event)" (cancelButton)="cancelUpdate()" />
}
@if(createNameFormEnabled) {
<app-create-name (createButton)="createName($event)" (cancelButton)="cancelCreate()" />
}
<a routerLink="../">Back to Home</a>
